@import "tailwindcss";

@layer components {
  .app-container {
    @apply mx-auto px-4 sm:px-6 lg:px-8;
    max-width: 1280px;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-montserrat: var(--font-montserrat)
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat);
  @apply bg-white text-slate-900;
}

